//*components
@import "./_components/normalize";
@import "./_components/variables";
@import "./_components/fonts";

//*utility
@import "./_mixins/mixins";


//*pages
@import "./_pages/index";
@import "./_pages/contact";