body{
      background-color: $main-white;
  font-family: "CrimsonText", sans-serif;

  font-family: $font-tea;

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-king;
  }

  h3 {
    font-style: italic;
  }

  .contact-section{
    display: flex;
    justify-content: space-evenly;

    @include media-max($tablet-max){
            flex-direction: column;
            align-items: center;
            gap: 3rem;
          }

    .form-container{
        width: 40%;

        @include media-max($tablet-max){
            width: 80%;
            display: inherit;
            flex-direction: column;
            align-items: center;
          }

        form {
        display: flex;
        flex-direction: column;
        width: 100%;

          @include media-max($tablet-max){
            align-items: center;

            label{
              align-self: flex-start;
            }
          }
        

        input, textarea, button{
            width: 70%;

            @include media-max($tablet-max){
            width: 100%;
          }

        }

        input, textarea {
            border: 1px solid $orange;
            margin-bottom: 0.8rem;
            padding: 0.5rem;
            border-radius: 0.4rem;
        }

        button{
            width: 40%;
           padding: 0.5%;
           margin-left: 15%;
            i{
                font-size: 24px;
            }
            @include media-max($tablet-max){
              width: 100%;
              margin-left: 0;
              padding: 7px 0;
          }
        }
    }
    }
    
  }

  .footer-contact{
    margin-top: 3rem;
  }


}