body {
  background-color: $main-white;
  font-family: "CrimsonText", sans-serif;

  font-family: $font-tea;

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-king;
  }

  h3 {
    font-style: italic;
  }

  header {
    display: flex;
    justify-content: space-between;
    background-color: $brown;
    padding: 2px 0;

    box-shadow: 0px 6px 3px 1px $orange;

    nav {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        gap: 3rem;
        margin-right: 2rem;

        li {
          list-style-type: none;

          a {
            color: $main-white;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: border-bottom 0.5s ease-in-out, color 1s ease,
              text-shadow 0.5s ease;

            &:hover {
              cursor: pointer;
              border-bottom: 1px solid $main-white;
              color: lighten($color: $main-white, $amount: 100%);
              text-shadow: 0px 4px 15px $main-white;
            }
          }
        }
      }
    }
  }

  main {

    @include media-max($phone-max){
          font-size: 14px;
        }

        @include media-max($tablet-max){
          display: flex;
          flex-direction: column;
            gap: 2rem;
          }
    button {
      background-color: $orange;
      padding: 2% 5%;
      border-radius: 0.2rem;
      border: 1px ridge transparent;
      cursor: pointer;
      color: $main-white;
      font-weight: 600;
      transition: background-color 0.5s ease, border-color 0.5s ease;

      &:hover {
        border: 1px ridge;
        background-color: darken($color: $orange, $amount: 20%);
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2% 0;

      h1 {
        margin-bottom: 0.2rem;
        color: $brown;
      }
      #title_span {
        color: darken($color: $orange, $amount: 15%);
      }
      h3 {
        margin: 0;
        border-bottom: 10px ridge $orange;
      }
    }

    .main-img {
      background-image: url("../../img/salon-de-the/pic4.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      object-fit: cover;
      color: $main-white;
      height: 35rem;

      @include media-max($tablet-max){
            height: 20rem;
          }

      .main-text {
        width: 25%;
        padding: 10%;

        @include media-max($tablet-max){
          margin: 0 auto;
          width: 100%;
          text-align: center;
          padding: 0;
          padding: 5% 0;

        }

        
      }
    }

    .encarts {
      .title {
        text-align: center;
        span {
          font-weight: 100;
        }
      }

      .cards {
        display: flex;
        justify-content: center;
        background-color: $main-color;
        flex-wrap: wrap;

        @include media-max($tablet-max){
          flex-direction: column;
          align-items: center;
          gap: 2rem;
        }

        figure {
          display: flex;
          flex-direction: column;
          width: 15%;
          text-align: center;

          @include media-max($tablet-max){
            width: 50%;
          }

          @include media-max($phone-max){
            width: 70%;
          }

          img {
            width: 100%;
          }

          figcaption {
            h3 {
              margin: 2% 0;
            }

            .price-container {
              padding: 3% 0;
              padding-top: 8%;

              .price {
                font-weight: 600;
              }
            }
          }

          button {
            align-self: center;
          }
        }
      }
    }

    .tea-type {

      .title {
        text-align: center;
        font-style: italic;
        span {
          font-weight: 100;
          font-style: normal;
        }
      }

      .leaf-type {
        display: flex;
        gap: 5%;
        justify-content: center;
        margin-bottom: 4rem;

        @include media-max($phone-max){
            display: flex;
            flex-direction: column;
            align-items: center;
          }

        .leaf {
          text-align: center;
          width: auto;
          display: flex;
          flex-direction: column;
          h3 {
            font-family: "Crimson Text";
            font-weight: 300;
          }

          img {
            background-color: $main-color;
            padding: 10%;
            border-radius: 4rem;
            max-width: 64px;
            height: auto;
          }
        }

        .leaf-noir {
          img {
            background-color: $main-black;
          }
        }

        .leaf-vert {
          img {
            background-color: rgb(151, 207, 151);
          }
        }

        .teapot {
          img {
            align-self: center;
            width: 47.35px;
          }
        }
      }
    }

    .kings-tea-info {
      background-color: $main-color;
      display: flex;
      justify-content: space-evenly;

      @include media-max($tablet-max){
            flex-direction: column-reverse;
            align-items: center;
            gap: 2rem;
          }

      .info-title {
        width: 30%;
        display: flex;
        flex-direction: column;

        @include media-max($laptop-max){
            width: 50%;
            padding-bottom: 2.5rem;
          }

          @include media-max($tablet-max){
            text-align: center;
          }

          @include media-max($phone-max){
            font-size: 14px;
          }

        span {
          font-weight: 600;
          }

        button {
          background-color: transparent;
          color: $main-black;
          border: 1px solid $main-black;
          width: 50%;
          transition: border-color 0.5s ease, background-color 0.5s ease,
            color 0.5s ease;

          &:hover {
            border: 1px solid $main-white;
            color: $main-white;
            background-color: $main-black;
          }

          @include media-max($tablet-max){
            align-self: center;
          }
        }
      }

      .info-img {
        width: 40%;
   
        @include media-max($tablet-max){
           width: 80%; 
          }

        img {
          width: 100%;
          height: 100%;

          @include media-max($laptop-max){
            object-fit: fill;
          }
        }
      }
    }

    .newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0;
      background-color: lighten($color: $main-color, $amount: 10%);

      div {
        width: 50%;
        text-align: center;

        @include media-max($tablet-max){
            width: 90%;
          }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        @include media-max($tablet-max){
            width: 90%;
          }

        input {
          width: 40%;
          margin-bottom: 2%;
          padding: 4px 5px;
          border: 1px solid $orange;

          @include media-max($tablet-max){
            width: 60%;
          }

          @include media-max($laptop-max){
            width: 50%;
          }
        }

        button {
          padding: 0.5rem 1rem;
          font-size: 14px;
        }
      }
    }
  }

  footer {
    background-color: $brown;
    padding: 0.5rem 1rem;
    display: flex;
    color: $main-white;

    @include media-max($tablet-max){
           flex-direction: column; 
           align-items: center;
           font-size: 14px;
          }


    .footer-links {
      width: 100%;


      a {
        color: $main-white;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s ease-in-out, color 1s ease,
          text-shadow 0.5s ease;

        &:hover {
          cursor: pointer;
          border-bottom: 1px solid $main-white;
          color: lighten($color: $main-white, $amount: 100%);
          text-shadow: 0px 4px 15px $main-white;
        }
      }

      div {
        display: flex;
        justify-content: space-between;

        @include media-max($tablet-max){
           flex-direction: column; 
           align-items: center;
          }

        .links {
          line-height: 2.5rem;
        }

        .horaires {
          text-align: center;
        }

        ul {
          line-height: 1.5rem;

          @include media-max($tablet-max){
            padding: 0;
            text-align: center;
          }

          li {
            list-style-type: none;
          }
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}
