$main-color: #E3DCC2;
$main-white: #EFEFEF;
$main-black: #191516;
$brown: #290101;
$pink: #FE64A3;
$green: #15616D;
$orange: #ff852a;

//TODO: Breakpoints
$large-screen-max: 1660px;
$laptop-max: 1279px;
$tablet-max: 768px;
$phone-max: 480px;
